<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <h1>Hello World!!!</h1>
    <p>This is my first website!!!</p>
    <p>My name is Bip.</p>
    <p>stuff {{ stuff|safe }}</p>

    <h3>Favorite Pizza</h3>
    {% for topping in favorite_pizza %}
        {% if topping == 41 %}
            {{ topping + 100 }}<br>
        {% else %}
            {{ topping }}<br>
        {% endif %}
    {% endfor %}

    <br><br>
    {{ favorite_pizza.0 + "s" }}<br>
    {{ favorite_pizza|reverse|list }}
{% endblock %}
</body>
</html>